body {
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    height: 180px;
    border-radius: 100%;
    border: 5px solid white;
    margin-bottom: 40px;
}
h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 4.5em;
    font-family: "Open Sans";
    margin: -10px 0;
}
h3 {
    color: white;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 1.5em;
}

.content {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.box-container {
    display: flex;
    width: 100%;
    margin: 15px auto;
    /* padding: 20px 0 20px 0; */
}
.box {
    flex: 1;
    width: 50%;
    /* padding: 50px 0 50px 0; */
    height: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
    align-content: center;
}

.pad-left {
    padding-left: 200px;
}

.pad-right {
    padding-right: 200px;
}

.viewer {
    margin: 0 auto;
    width: 47vh;
    height: 47vh;
    border: 2px solid #053d6e;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

label:hover {
    box-shadow: 0px 0px 3px 3px #df8219;
    cursor: pointer;
}
input[type="checkbox"] {
    transform: scale(2);
}
.check-box {
    text-align: center;
    width: 8rem;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#check-wrap {
    vertical-align: middle;
    accent-color: rgba(21, 54, 86, 0.2);
}

input[type="color"] {
    width: 47vh;
    height: 47vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="text"] {
    width: 27rem;
    height: 4rem;
    border: none;
    border-bottom: 2px solid white;
    text-align: center;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 2rem;
    background-color: transparent;
    color: rgb(231,117,24);
}
input[type="text"]:focus {
    outline: none;
}

input[type="range"] {
    width: 47vh;
    margin-top: 20px;
    margin-bottom: 10px;
}

input::-webkit-input-placeholder {
    color: white;
}
input:-moz-placeholder {
    color: white;
    opacity: 1;
}
input::-moz-placeholder {
    color: white;
}
input:ms-input-placeholder {
    color: white;
}


#color-hint {
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 2rem;
    line-height: 3rem;
    color: white;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    width: 90px;
    height: 90px;
}
button:hover {
    cursor: pointer;
}

.color-value {
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 2rem;
    line-height: 3rem;
    color: white;
}

.color-value-container {
    position: relative;
    color: white;
    border: none;
}
.color-value-container:hover {
    box-shadow: 0px 0px 1px 1px white;
}

.copyBtn {
    display: block;
    opacity: 0.5;
    position: absolute;
    top: 0.5rem;
    right: 3rem;
}
.copyBtn:hover {
    cursor: pointer;
}

.copyCheck {
    display: none;
    opacity: 0.5;
    position: absolute;
    top: 0.5rem;
    right: 3rem;
}
