body {
    background-color: rgba(247, 247, 249, 0.2);
}

.editor-container {
    display: flex;
    width: 100%;
    margin: 20px auto;
    /* padding: 20px 0 20px 0; */
}
.editor {
    flex: 1;
    width: 50%;
    /* padding: 50px 0 50px 0; */
    height: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.viewer {
    margin: 0 auto;
    width: 25vw;
    height: 25vw;
    border: 2px solid #6d0404;
    border-radius: 50%;
    text-align: center;

}

.view-text {
    font-size: 18px;
    font-family: Menlo, Consolas, monospace;
}

.selector {
    text-align: center;
    width: 8rem;
    height: 2rem;
    font-family: Menlo, Consolas, monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    border-radius: 0.5rem;
    background-color: rgba(223, 239, 243, 0.2); 
    border: 2px solid rgba(39, 64, 101, 0.7);
    margin-left: 1%;
    margin-right: 1%;
}
select:hover {
    border: none;
    box-shadow: 0px 0px 3px 3px #6d0404;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    top: 100%;
    left: 50%;
    margin-top: 10px;
    margin-left: -50px;
    background-color: rgb(48, 45, 45);
    color: #d0c8c8;
    text-align: left;
    font-size: 1rem;
    font-family: Menlo, Consolas, monospace;
    padding: 20px 20px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip-inner {
    white-space: pre-line;
}


.button {
    text-align: center;
    width: 6rem;
    height: 2rem;
    font-family: Menlo, Consolas, monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    border-radius: 0.5rem;
    background-color: rgba(223, 239, 243, 0.2); 
    border: 2px solid rgba(39, 64, 101, 0.7);
    margin-left: 1%;
    margin-right: 1%;
}
.button:hover {
    box-shadow: 0px 0px 3px 3px #0c5986;
    cursor: pointer;
    border: none;
}

label:hover {
    box-shadow: 0px 0px 3px 3px #df8219;
    cursor: pointer;
}
.check-box {
    text-align: center;
    width: 8rem;
    height: 2rem;
    font-family: Menlo, Consolas, monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-left: 0.2%;
    margin-right: 0.2%;
    border-radius: 5px;
    border: 2px solid rgba(39, 64, 101, 0.7);
    padding: 0.25rem 0.5rem;
}
#check-wrap {
    vertical-align: middle;
    accent-color: rgba(21, 54, 86, 0.2);
}

.popup {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 10vh;
    left: 45vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 3rem;
    font-family: Menlo, Consolas, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    border-radius: 0.5rem;
    background-color: rgb(243, 212, 183);
    border: none; 
}

input[type="color"] {
    width: 25vw;
    height: 25vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}